@keyframes dropIn {
  0% {
    opacity: 0;
    top: -500px;
    border-radius: 100%;
    height: 30vw;
    width: 30vw;
    background-size: 300%;
    background-position: 50% 100%;
    animation-timing-function: cubic-bezier(0.15, 0.65, 0.1, 1);
  }
  100% {
    opacity: 1;
    border-radius: 100%;
    top: 0;
    height: 30vw;
    width: 30vw;
    background-size: 100%;
    background-position: 50% 50%;
  }
}

@keyframes spreadOut {
  0% {
    border-radius: 100%;
    top: 0;
    height: 30vw;
    width: 30vw;
    background-size: 100%;
    background-position: 50% 50%;
    animation-timing-function: cubic-bezier(0.15, 0.65, 0.1, 1);
  }
  100% {
    border-radius: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: 50% 50%;
  }
}

.drop-in-anim {
  animation: dropIn;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

.spread-anim {
  animation: spreadOut;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.side-left-insert-anim {
  animation: fadeInDown;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-delay: 2.5s;
}

.side-right-insert-anim {
  animation: fadeInDown;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-delay: 3.5s;
}

.special-insert-anim {
  animation: fadeInUp;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-delay: 3s;
}

#Main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 70px);
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../media/maps.jpg);
  background-size: cover;
  font-family: var(--main-font-family);
}

#Main .main-frame {
  background-image: url('../media/compass1.jpg');
  background-size: cover;
  background-position: 50% 50%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#Main .main-frame .title {
  display: flex;
  align-items: center;
  font-size: 3.5vw;
  color: black;
  position: relative;
  top: -9vw;
  left: 0.5vw;
}

#Main .main-frame .title .side-text {
  opacity: 0;
}

#Main .main-frame .title .special-text {
  color: white;
  margin: 0 2.5vw 0 3vw;
  opacity: 0;
}

#Main .discover-btn {
  background-color: white;
  position: absolute;
  bottom: 220px;
  border: none;
  padding: 10px 20px;
  font-size: 1.5em;
  font-family: var(--main-font-family);
  font-variant: small-caps;
  transition: all 0.2s ease-in-out;
}

#Main .discover-btn:hover {
  transform: scale(1.05);
}

#Main .discover-btn:active {
  transform: scale(0.95);
}
