#Shop {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../media/maps.jpg);
  background-size: cover;
  width: 100vw;
  height: calc(100vh - 70px);
  overflow-y: scroll;
  overflow-x: hidden;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 600px));
  grid-auto-rows: 300px;
  place-content: top;
  justify-content: center;
  padding: 5vw;
  gap: 3vw;
}

#Shop .card {
  background-color: white;
  border-radius: 1rem;
  padding: 10px;
  display: flex;
  gap: 1vw;
}

#Shop .card .img {
  border-radius: 1rem;
  width: 400px;
  height: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.397);
}

#Shop .card .info {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--main-font-family);
  font-weight: 700;
  font-variant: small-caps;
}

#Shop .card .info .description {
  font-variant: normal;
  font-weight: 400;
  font-size: 0.8em;
  text-align: justify;
  margin-top: 1vw;
}

#Shop .card .info .price {
  margin-top: auto;
}

#Shop .card .info .controls {
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.185);
  margin-top: auto;
  display: flex;
  gap: 10px;
  padding: 1vw;
  border-radius: 1rem;
}

#Shop .card .info .controls .wish,
#Shop .card .info .controls .cart {
  fill: black;
  transition: all 0.1s ease-in-out;
  height: 32px;
  width: 32px;
  color: white;
}

#Shop .card .info .controls .wish:hover,
#Shop .card .info .controls .cart:hover {
  transform: scale(1.05);
}

#Shop .card .info .controls .wish:active,
#Shop .card .info .controls .cart:active {
  transform: scale(0.95);
}
