#wishlist {
  height: calc(100vh - 70px);
  width: 100vw;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../media/maps.jpg);
  background-size: cover;
  color: white;
  font-family: var(--main-font-family);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
}

#wishlist .shoplink {
  background-color: white;
  color: black;
  padding: 10px 20px;
  border-radius: 0.5rem;
  transition: all 0.2s ease-in-out;
}

#wishlist .shoplink:hover {
  transform: scale(1.05);
}

#wishlist .shoplink:active {
  transform: scale(0.95);
}

.wishlist-item {
  margin-bottom: 10px;
}

.wishlist-item h1 {
  padding: 0;
  margin: 30px 0;
}

.wishlist-item .item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  color: black;
  padding: 10px 10px 10px 20px;
  gap: 20px;
  width: min(60vw, 600px);
  border-radius: 0.5rem;
}

.wishlist-item .item .separator {
  height: 20px;
  width: 1px;
  background: rgb(195, 195, 195);
  background: radial-gradient(
    circle,
    rgba(195, 195, 195, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  margin-left: auto;
}

.wishlist-item .item .controls {
  display: flex;
  align-items: center;
  gap: 5px;
}

.wishlist-item .item .controls .in-cart {
  background-color: black;
  color: white;
  border-radius: 0.3rem;
  padding: 5px;
  user-select: none;
}

.wishlist-item .item .controls .to-cart,
.wishlist-item .item .controls .remove {
  background-color: black;
  color: white;
  border-radius: 0.3rem;
  padding: 5px;
  user-select: none;
}

.wishlist-item .item .controls .to-cart:active,
.wishlist-item .item .controls .remove:active {
  transform: scale(0.95);
  background-color: rgba(0, 0, 0, 0.801);
}
