@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400;500;600;700&display=swap');

.App {
  --main-font-family: 'Domine', serif;
}

.App * {
  box-sizing: border-box;
}

#link {
  color: inherit;
  text-decoration: none;
}
